.logo {
  width: 100px;
  cursor: pointer;
}
.navbuttons {
  display: flex;
}

.navbuttons > li {
  list-style-type: none;
  padding: 10px;
  margin: 10px;

  cursor: pointer;
}
.navbar {
  display: flex;
}
.cardbody {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}
.app {
  border: 3px;
  border-style: solid;
  border-color: black;
}
.cardTile:hover {
  background-color: lightgray;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}
.cardTile {
  width: 220px;
  padding: 5px;

  height: auto;
  cursor: pointer;
}
.food {
  width: 100%;
  height: 40%;
}
